

<rectangle></rectangle>

<!--The content below is only a placeholder and can be replaced.-->
<!--<h1>Hello</h1>
<h1>{{name|uppercase}}</h1>
<h1>{{name|titlecase}}</h1>
<h1>{{name|lowercase}}</h1>
<h2>Add:{{add()}}</h2>
<h2>Factorial:{{factorial(3)}}</h2>

<p>{{ 1234.56 | currency:"CAD" }}</p>
<p>{{ 1234.56 | currency:'CAD':'code'}}</p>
<p>{{ 1234.56 | currency:'CAD':'symbol'}}</p>
<p>{{ 1234.56 | currency:'CAD':'symbol-narrow'}}</p>

<p>{{ d | date: 'shortTime' }}</p>
<p>{{ d | date: 'fullDate' }}</p>
<p>{{ d | date: 'd/M/y' }}</p>

<p>{{ 3.14159265 | number: '2.1-2' }}</p>

<div *ngIf="name=='jeena'">Welcome jeena</div>
<div *ngIf="name=='jose'">Welcome jose</div>

<div *ngFor="let value of arr|slice:2">
{{value}}
</div>
{{"jeenajose" | slice:2:5}}
<div *ngFor="let value of arr|slice:2:4">
  {{value}}
  </div>

  <input type="button" (click)="f1()" value="click me" />
  <input type="text" (keydown)="f2($event)"/>
  <h1 (mouseover)="f3($event)">Mouse hover me</h1>

  <div>
  {{employee.empId}}
  {{employee.empName}}
  {{employee.basicPay}}
  </div>
  <h1>Employee details:</h1>
  <div *ngFor="let value of employee">
    Employeeid:{{value.empId}}
    Employee name:{{value.empName}}
    Basicpay:{{value.basicPay}}
    </div>
    <h1>Employee Details-json</h1>
    {{employee|json}}

    <div *ngFor="let person of persons; let i=index">
      {{i+1}}=>{{person.name}} &nbsp;&nbsp;&nbsp;{{person.age}}
    </div>
    -->

    